/* Banner CSS */
.about-image {
  width: 350px;
  height: 350px;
  border: 8px solid #fff;
  background: #010d1b url("../../images/me.jpg");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;
  position: relative;
}

.about-image::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 20px;
  width: 100%;
  height: 100%;
  border: 8px solid #ddd;
  z-index: -1;
}
